body{
    background-color: #d8faff;
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #d1e5f4;
    border: 5px solid #7b8994;
    border-radius: 1em;
    font-size: 20px;
    padding: 10px 20px;
    color: #7b8994;
}
button:hover{
    cursor: pointer;
    background-color: #35d4e9;
    border: 5px solid #056b79;
    color: #025560;
}
div{
    width: 40%;
}
img{
    border: 10px solid #056b79;
    border-radius: 2em;
    width: 100%;
}
h1{
    color: #025560;
    font-size: 30px;
}
h2{
    color: #025560;
    font-size: 45px;
}

@media screen and (max-width: 820px)  {
    body{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    div{
        text-align: center;
        width: 100%;
        margin: 0;
    }
    img{
        width: 90%;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 55px;
    }
    button{
        font-size: 30px;
    }
}